{% extends "modeladmin/inspect.html" %}
{% load i18n wagtailadmin_tags ziswaf_tags referral_tags %}

{% block extra_css %}
{{ block.super }}
{% endblock %}

{% block fields_output %}
<div>
  <div class="col2">
    <div class="avatar fluid square">
      <img src="{{ instance.account.avatar }}" alt="">
    </div>
  </div>

  <div class="col10">
    <div class="col12">
      <h1 class="m-0 font-weight-bold" style="font-size: 1.6rem;">{{ instance.account.get_full_name }}</h1>
      <p>REF.ID #{{ instance.inner_id }}</p>
    </div>
    {% referral_summary as summary %}
    <div>
      <div class="col2 text-center">
        <h1 class="mb-0">{{ summary.donation_value|money:0 }}</h1>
        <p>{% trans 'Donation' %} (Rp)</p>
      </div>
      <div class="col2 text-center">
        <h1 class="mb-0">{{ summary.fundraised_value|money:0 }}</h1>
        <p>{% trans 'Fundraised' %} (Rp)</p>
      </div>
      <div class="col2 text-center">
        <h1 class="mb-0">{{ summary.withdraw_value | money:0 }}</h1>
        <p>{% trans 'Withdrawal' %} (Rp)</p>
      </div>
      <div class="col2 text-center">
        <h1 class="mb-0">{{ summary.balance_value|money:0 }}</h1>
        <p>{% trans 'Balance' %} (Rp)</p>
      </div>
      <div class="col2 text-center">
        <h1 class="mb-0">{{ summary.downlines_count }}</h1>
        <p>{% trans 'Downlines' %}</p>
      </div>
      <div class="col2 text-center">
        <h1 class="mb-0">{{ summary.fundraisers_count }}</h1>
        <p>{% trans 'Fundraisers' %}</p>
      </div>
    </div>
  </div>

  <div class="col12 mt-5 mb-5">
    <table class="listing full-width">
      <thead>
      <tr>
        <th>#</th>
        <th>{% trans 'Date' %}</th>
        <th>{% trans 'Note' %}</th>
        <th>{% trans 'Flow' %}</th>
        <th class="text-right">{% trans 'Amount' %}</th>
        <th class="text-right">{% trans 'Rate' %}</th>
        <th class="text-right">{% trans 'Total' %}</th>
        <th class="text-right">{% trans 'Balance' %}</th>
      </tr>
      </thead>
      {% for item in summary.transactions %}
      <tr>
        <td>{{ item.inner_id }}</td>
        <td>{{ item.created_at }}</td>
        <td>{{ item.note }}</td>
        <td>{{ item.flow }}</td>
        <td class="text-right">{{ item.amount | money:0  }}</td>
        <td class="text-right">{{ item.rate | money:0 }}</td>
        <td class="text-right">{{ item.total | money:0 }}</td>
        <td class="text-right">{{ item.balance | money:0 }}</td>
      </tr>
      {% endfor %}
    </table>
  </div>

</div>
{% endblock %}